img {
  max-width: 100%;
}

.one {

	border-style: solid;
	border-color:red;
	border-width:10px;
}

.two {

	border-style: solid;
	border-color: blue;
	border-width: 10px;
}

.three {

	border-left-style: solid;
	border-color: green;
	border-width: 10px;
	
}

.flag {
	border-style: solid;
	border-left-color: blue;
	border-right-color:blue;
	border-top-color:red;
	border-bottom-color:red;
}
/* Code Under This Line */
